.header-layout {
    height: 72px;
    background-image: url(/src/assets/suggestions/mobile/background-header.png);
    background-size: cover;
    background-position: center;
}

.app-header {
    display: flex;
    position: relative;
    align-items: center;

    .logo {
        flex-grow: 1;
        color: $white1;

        :first-child {
            font-weight: 700;
            font-style: normal;
            font-size: rem(15px);
            line-height: 22px;
            letter-spacing: -0.1875px
        }

        :nth-child(2) {
            mix-blend-mode: normal;
            font-style: normal;
            font-size: rem(13px);
            font-weight: 500;
            opacity: 0.75;
            line-height: 19px;
        }

    }


}