.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 0;
    position: absolute;
    background-color: $white3;
    right: 0;
    transition: width 0.3s ease;

    &.open {
        width: 75%;
    }

    overflow: hidden;
}



.category-list {
    display: flex;
    background-color: $white1;
    // align-items: center;
    justify-content: center;
    width: rem(223px);
    height: rem(178px);
    flex-wrap: wrap;

    border-radius: 10px;

    >li {
        height: min-content;
        font-size: rem(13px);
        margin-inline: rem(8px);
        background-color: $white2;
        color: $blue;
        font-weight: 600;
        padding-inline: em(16px);
        padding-block: em(6px);
        border-radius: 10px;
    }

    >li:nth-of-type(3) {
        margin-inline-end: rem(22px);
    }

    >li:last-of-type {
        margin-inline-end: rem(107px);
        margin-block-end: rem(24px);
    }

    >li:first-of-type,
    li:nth-of-type(2),
    li:nth-of-type(3) {
        margin-block-start: rem(24px);
        // margin-block-end: rem(4px);
    }

    >li:nth-of-type(4),
    li:nth-of-type(5) {
        margin-block: rem(14px);
    }
}

.roadmap {
    background-color: $white1;
    width: rem(223px);
    height: rem(178px);
    border-radius: 10px;

    .roadmap-header {
        display: flex;
        justify-content: space-between;
        margin-inline: rem(8px);
        margin-block-start: rem(12px);
    }

    .roadmap-links {
        display: flex;
        flex-direction: column;
        row-gap: rem(8px);
        margin-inline: rem(8px);

        >li {
            display: flex;

            :first-child {
                margin-inline-end: rem(16px);
            }

            :nth-child(2) {
                flex-grow: 1;
                flex-shrink: 0;
            }
        }
    }
}