// Colors
$purple: rgb(173, 31, 234);
$blue: rgb(70, 97, 230);
$deepblue1: rgb(55, 63, 104);
$deepblue2: rgb(58, 67, 116);
$deepblue3: rgb(100, 113, 150);
$white1: rgb(255, 255, 255);
$white2: rgb(242, 244, 255);
$white3: rgb(247, 248, 253);
$orange: rgb(244, 159, 133);
$aqua: rgb(98, 188, 250);



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;