* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-block-start: var(--scroll-padding-start, 1.5em);
}

body {
	margin: 0;
	font-family: 'Jost', sans-serif;
	font-size: rem(16px);
	line-height: rem(23px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;

}

p {
	margin: 0 0 1em;
}

a {
	text-decoration: none;
	color: unset;
	cursor: pointer;
}

ul,
ol {
	list-style: none;
	padding: 0;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

h1 {
	font-size: rem(24px);
	line-height: rem(35px);
	letter-spacing: rem(-0.33px);

}

h2 {
	font-size: rem(20px);
	line-height: rem(29px);
	letter-spacing: rem(-0.25px);

}

h3 {
	font-size: rem(18px);
	line-height: rem(29px);
	letter-spacing: rem(-0.25px);

}

h4 {
	font-size: rem(24px);
	line-height: rem(20px);
	letter-spacing: rem(-0.2px);

}